@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

:root {
    --primary-color: #123E59;
    --secondary-color: #FCE172;
    --accent1-color: #EFF9FB;
    --accent2-color: #0511F2;

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Lato', sans-serif;
    --nav-background-color: #123E59;
    --nav-link-color: #EFF9FB;
    --nav-hover-link-color: #FCE172;
    --nav-hover-background-color: #0A2333;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 150px;
    left: 50px;
    right: 50px;
    background-color: rgba(10, 35, 51, .9);
}

.hero h1 {
    position: absolute;
    top: 50px;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    color: rgba(255, 255, 255, .99);
    text-align: center;
}


.hero article p {
    color: rgba(255, 255, 255, .8);
    padding: 25px;
}

.hero article img {
    float: right;
    width: 300px;
    padding: 0 0 0 40px;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-items: center;
    align-items: center;
    background-color: #0A2333;
}

header img {
    width: 80%;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: #EFF9FB;
    text-decoration: none;
    padding: 1em;
    /* text-align: center */
}

nav a:hover {
    color: #0A2333;
    background-color: #EFF9FB;

}
.history {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 20px;
    justify-items: center;
    gap: 10px 20px;
}
.history h1 {
    grid-column: 1/-1;
    text-align: center;
}
.history h2 {
    grid-column: 1/-1;
    text-align: center;
}

.history img {
    width: 100%;
    height: auto;
    grid-column: 6/8;
    align-self: center;
}
.left {
    grid-column: 1/6;
    padding: 20px;
}
.right {
    grid-column: 8/13;
    padding: 20px;
    align-items: center;
}
.map {
grid-column: 6/9;
grid-row: 2/6;
max-width: 200px;
}
.contact {
    grid-column: 3/6;
    text-align: center;
    padding: 0;
}
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
    justify-items: center;
    width: 100%;
    gap: 20px;
}
.adventure h2 {
    grid-column: 1/6;
}
.adventure figure img {
    max-width: 100%;
    height: auto;
}
.adventure figure {
    text-align: center;
    margin: 0;
    text-align: center;
}
figure {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.happy-employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    justify-items: center;
    width: 100%;
    gap: 20px;
    text-align: center;
}
.happy-employees h2 {
    grid-column: 1/4;
    margin-bottom: 0;
    margin-top: 80px;
}
.happy-employees figure img {
    max-width: 100%;
    height: auto;

}
.happy-employees figure {
    display: block;
    margin: 5px 5px 80px 5px;
}

footer {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
}
.sociallinks {
    justify-items: end;
    padding: 15px;
}
.sociallinks a, .sociallinks a:hover {
    background-color: unset;
    text-decoration: none;
}
.sociallinks a img {
    width: 50px;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #EEF5F6;
    display: grid;
    margin-bottom: 80px;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color:#0A2333;
    font-size:1.3em;
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-weight: 600;
}
label, input, button, select, textarea {
    font-family: var(--paragraph-font);
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="radio"] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    margin-bottom: 1rem;
}
input [type= checkbox] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    font-family: var(--heading-font);
    font-weight: 550;
    margin: 1rem;
    background-color:#030A8C;
    color: #fff;
    border: none;
    border: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}
button:hover {
    background-color:darkgreen;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}